<nav aria-label="Page navigation">
	<ul class="pagination justify-content-center">
		<li class="page-item{% if page_number == 1 %} disabled{% endif %}">
			<a class="page-link" href="#" tabindex="-1">First</a>
		</li>
		<li class="page-item{% if page_number == 1 %} disabled{% endif %}">
			<a class="page-link" href="#" tabindex="-1">Previous</a>
		</li>
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item"><a class="page-link" href="#">4</a></li>
		<li class="page-item"><a class="page-link" href="#">5</a></li>
		<li class="page-item{% if page_number == total_page_num %} disabled{% endif %}">
			<a class="page-link" href="#">Next</a>
		</li>
		<li class="page-item{% if page_number == total_page_num %} disabled{% endif %}">
			<a class="page-link" href="#">Last</a>
		</li>
	</ul>
</nav>

<script src="/js/jquery.twbsPagination.js"></script>
<script>

</script>