<!DOCTYPE html>
<html lang="en">

<head>

	{% include 'meta.html' %}

	<title>Academiic</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template-->
	{% if theme == 'dark' %}
	<link id="pageStyle" href="/css/sb-admin-2-dark.css" rel="stylesheet">
	{% else %}
	<link id="pageStyle" href="/css/sb-admin-2.css" rel="stylesheet">
	{% endif %}
	<link href="/css/styles.css" rel="stylesheet">

	<style>
		.mb-4 {
			margin-bottom: 0rem !important;
		}
	</style>

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">
		{% if user is defined %}
		{% include 'sidebar.html' %}
		{% else %}
		{% include 'signedoutsidebar.html' %}
		{% endif %}

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				{% include 'topbar.html' %}

				<!-- Begin Page Content -->
				<div class='home-hero'>
					<h1>Manage assignments from several learning management systems in one convenient place.</h1>
				</div>
				<div class='home-content'>
					<div class='row' style="margin-top: 50px; padding-bottom: 10px;">
						<div class='col-sm-6 mb-5 mb-md-0'>
							<h2 class='text-left homepage-header'>Integration with popular services like Google Classroom&trade; and Canvas&trade;</h2>
							<h5>Academiic acts as a hub for various different learning management systems to bring all of your work into one place, relieving you of the stress of having to find where each assignment is located, and saving you time.</h5>
						</div>
						<div class='col' style="display: flex; align-self: center; justify-content: space-around;">
							<img src="/img/classroom_square_logo/48x48_yellow_stroke_icon@2x.png" alt="Google Classroom&trade; Logo">
							<img src="/img/canvas_png/canvas.png" alt="Canvas&trade; Logo">
						</div>
					</div>
				</div>


				<div class='home-content-secondary'>
					<div class='row' style="margin-top: 50px; padding-bottom: 10px;">
						<div class='col' style="display: flex; align-self: center; justify-content: space-around;">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="96px" height="96px">
								<path fill="#e53935" d="M24 43L16 20 32 20z" />
								<path fill="#ff7043" d="M24 43L42 20 32 20z" />
								<path fill="#e53935" d="M37 5L42 20 32 20z" />
								<path fill="#ffa726" d="M24 43L42 20 45 28z" />
								<path fill="#ff7043" d="M24 43L6 20 16 20z" />
								<path fill="#e53935" d="M11 5L6 20 16 20z" />
								<path fill="#ffa726" d="M24 43L6 20 3 28z" />
							</svg>
							{% if theme == 'dark' %}
							<img src="/img/academiicsquare.png" alt="Academiic Logo" width="96" height="96">
							{% else %}
							<img src="/img/academiicblacksquare.png" alt="Academiic Logo" width="96" height="96">
							{% endif %}
						</div>

						<div class='col-sm-6 ml-auto mt-5 mt-md-0'>
							<h2 class='text-right homepage-header'>Open Source</h2>
							<h5 class="text-right">Academiic is open source, meaning anyone can view and improve the code. This allows for many people to hunt for bugs and security vulnerabilities in the backend, and improve existing things or add new features. Academiic is current running on Microsoft Azure, and the code can be accessed on <a href="https://gitlab.com/imaginaryinfinity/academiic" target="_blank">GitLab</a>. Academiic is licensed under GPLv3.</h5>
						</div>
					</div>


				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			{% include 'footer.html' %}
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="/logout">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

</body>

</html>