<!DOCTYPE html>
<html lang="en">

<head>

	{% include 'meta.html' %}

	<title>Academiic</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template-->
	{% if theme == 'dark' %}
	<link id="pageStyle" href="/css/sb-admin-2-dark.css" rel="stylesheet">
	{% else %}
	<link id="pageStyle" href="/css/sb-admin-2.css" rel="stylesheet">
	{% endif %}
	<link href="/css/styles.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">
		{% if user is defined %}
		{% include 'sidebar.html' %}
		{% else %}
		{% include 'signedoutsidebar.html' %}
		{% endif %}

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				{% include 'topbar.html' %}

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<h3 class='text-center'>Loading, please wait...</h3>

					<div class="slider">
						<div class="line"></div>
						<div class="subline inc"></div>
						<div class="subline dec"></div>
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			{% include 'footer.html' %}
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="/logout">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<script>
		function getUrlVars() {
			var vars = {};
			var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
				vars[key] = value;
			});
			return vars;
		}

		function getUrlParam(parameter, defaultvalue) {
			var urlparameter = defaultvalue;
			if (window.location.href.indexOf(parameter) > -1) {
				urlparameter = getUrlVars()[parameter];
			}
			return urlparameter;
		}

		function rtrim(x, characters) {
			var start = 0;
			var end = x.length - 1;
			while (characters.indexOf(x[end]) >= 0) {
				end -= 1;
			}
			return x.substr(0, end + 1);
		}

		function ltrim(x, characters) {
			var start = 0;
			while (characters.indexOf(x[start]) >= 0) {
				start += 1;
			}
			var end = x.length - 1;
			return x.substr(start);
		}



		var goto = getUrlParam('page', null);

		var tz = getUrlParam('updateTimezone', null);

		if (tz != null) {
			var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone
			data = new FormData();
			data.append('timeZone', timezone);

			xhr = new XMLHttpRequest();
			xhr.open("POST", "{{ url_for('updatePreferences') }}", true);
			xhr.onreadystatechange = function(response) {};
			xhr.send(data);
		}

		if (goto != null) {
			goto = ltrim(decodeURIComponent(goto), '/');
			window.location.replace(window.location.protocol + "//" + rtrim(window.location.host, '/') + '/' + goto);
		} else {
			window.location.replace('/');
		}
	</script>

</body>

</html>