<!DOCTYPE html>
<html lang="en">

<head>

	{% include 'meta.html' %}

	<title>Settings - Academiic</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template-->
	{% if theme == 'dark' %}
	<link id="pageStyle" href="/css/sb-admin-2-dark.css" rel="stylesheet">
	{% else %}
	<link id="pageStyle" href="/css/sb-admin-2.css" rel="stylesheet">
	{% endif %}
	<link href="/css/styles.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		{% include 'sidebar.html' %}

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				{% include 'topbar.html' %}

				<!-- Begin Page Content -->

				<div class="container-fluid" style='padding-bottom: 10px;'>

					<div class="row gutters-sm">
						<div class="col-s-4 d-none d-md-block">
							<div class="card">
								<div class="card-body">
									<nav class="nav flex-column nav-pills nav-gap-y-1">
										<a href="#profile" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
											<i class="fas fa-user feather feather-settings mr-2"></i>Preferences
										</a>
										<a href="#google-account" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
											<i class="fab fa-google feather feather-settings mr-2"></i>Google Settings
										</a>
										<!-- <a href="#security" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
											<i class="fas fa-user-shield feather feather-settings mr-2"></i>Security
										</a> -->
										<!-- <a href="#notification" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
											<i class="far fa-bell feather feather-settings mr-2"></i>Notification
										</a>
										<a href="#billing" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
											<i class="far fa-credit-card feather feather-settings mr-2"></i>Billing
										</a> -->
									</nav>
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="card">
								<!-- Top Bar: -->
								<div class="card-header border-bottom mb-3 d-flex d-md-none">
									<ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
										<li class="nav-item">
											<a href="#profile" data-toggle="tab" class="nav-link has-icon active"><i class="fas fa-user feather feather-settings"></i></a>
										</li>
										<li class="nav-item">
											<a href="#google-account" data-toggle="tab" class="nav-link has-icon"><i class="fab fa-google feather feather-settings"></i></a>
										</li>
										<!-- <li class="nav-item">
											<a href="#security" data-toggle="tab" class="nav-link has-icon"><i class="fas fa-user-shield feather feather-settings"></i></a>
										</li>
										<li class="nav-item">
											<a href="#notification" data-toggle="tab" class="nav-link has-icon"><i class="far fa-bell feather feather-settings"></i></a>
										</li>
										<li class="nav-item">
											<a href="#billing" data-toggle="tab" class="nav-link has-icon"><i class="far fa-credit-card feather feather-settings"></i></a>
										</li> -->
									</ul>
								</div>
								<div class="card-body tab-content">

									{% if errorMsg %}
									<div class="alert alert-danger" role="alert">{{errorMsg}}</div>
									{% endif %}
									<div class="tab-pane active" id="profile">
										<h6>YOUR PREFERENCES</h6>
										<hr>
										<form action='{{ url_for('updatePreferences') }}' method='POST' id='preferencesform'>
											<div>
												<input type="radio" name='themeSelection' value='light' id="themeSelectionLight" autocomplete="off" {% if userConfig['appearance']['theme'] == 'light' %} checked{% endif %} />
												<label for="themeSelectionLight">Light Theme</label>
												<br />

												<input type="radio" name='themeSelection' value='dark' id="themeSelectionDark" autocomplete="off" {% if userConfig['appearance']['theme'] == 'dark' %} checked{% endif %} />
												<label for="themeSelectionLight">Dark Theme</label>

												<br />
												<input type="radio" name='themeSelection' value='custom' id='themeSelectionCustom' autocomplete="off" {% if userConfig['appearance']['theme'] == 'custom' %} checked{% endif %} />
												<label for="themeSelectionCustom" style="display: unset;">Automatic dark theme in time range</label>

												<input style='margin-left: 1.5rem;' type="time" name="start-time" value="{{ userConfig['appearance']['darkThemeTimerStart'] }}" />&emsp;&rarr;&emsp;<input type="time" name="end-time" value="{{ userConfig['appearance']['darkThemeTimerEnd'] }}" />

												<small class='form-text text-muted'>Choose a global theme for Academiic</small>

											</div>

											<hr>

											<div class="form-group">
												<label for="timezone">Timezone</label>
												<select name='timeZone' class='form-select' autocomplete='off'>
													{% for tz in timezone_list %}
													<option value="{{tz.split(' ')[0]}}" {% if userConfig['system']['timezone'] == tz.split(' ')[0] %} selected{% endif %}>{{tz}}</option>
													{% endfor %}
												</select>
												<small class="form-text text-muted">Change your timezone.</small>
											</div>

											<hr>
											<!-- <div class="btn-group" role="group" aria-label="Theme selection">
												<input type="radio" class="btn-check" name="btnradio" id="themeSelectionLight" autocomplete="off"{% if theme != 'dark' %} checked{% endif %}>
												<label class="btn btn-outline-primary" for="themeSelectionLight">Light Theme</label>

												<input type="radio" class="btn-check" name="btnradio" id="themeSelectionDark" autocomplete="off"{% if theme == 'dark' %} checked{% endif %}>
												<label class="btn btn-outline-primary" for="themeSelectionDark">Dark Theme</label>
											</div> -->
											<!-- <div class="form-group">
												<label for="fullName">Full Name</label>
												<input type="text" class="form-control" id="fullName" aria-describedby="fullNameHelp" placeholder="Enter your fullname" value="Kenneth Valdez">
												<small id="fullNameHelp" class="form-text text-muted">Your name may appear around here where you are mentioned. You can change or remove it at any time.</small>
											</div>
											<div class="form-group">
												<label for="bio">Your Bio</label>
												<textarea class="form-control autosize" id="bio" placeholder="Write something about you" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 62px;">A front-end developer that focus more on user interface design, a web interface wizard, a connector of awesomeness.</textarea>
											</div> -->
											<!-- <div class="form-group">
												<label for="url">URL</label>
												<input type="text" class="form-control" id="url" placeholder="Enter your website address" value="http://benije.ke/pozzivkij">
											</div>
											<div class="form-group">
												<label for="location">Location</label>
												<input type="text" class="form-control" id="location" placeholder="Enter your location" value="Bay Area, San Francisco, CA">
											</div> -->
											<div class="form-group small text-muted">
												All of the fields on this page are optional and can be deleted at any time, and by filling them out, you're giving us consent to share this data wherever your user profile appears.
											</div>
											<button type="submit" class="btn btn-primary">Update Profile</button>
											<button type="reset" class="btn btn-light">Reset Changes</button>
										</form>
									</div>
									<div class="tab-pane" id="google-account">
										<h6>GOOGLE SETTINGS</h6>
										<hr>
										<form>
											<!-- <div class="form-group">
												<label for="username">Username</label>
												<input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter your username" value="kennethvaldez">
												<small id="usernameHelp" class="form-text text-muted">After changing your username, your old username becomes available for anyone else to claim.</small>
											</div>
											<hr> -->
											<div class="form-group">
												<label class="d-block text-danger">Revoke Token</label>
												<p class="text-muted font-size-sm">You can revoke Academiic's access token to your Google account here. This is the same as doing it from your Google <a href="https://myaccount.google.com/permissions" target="_blank">Account Settings</a>.</p>
											</div>
											<button onclick="location.href = '{{ url_for('revokeAccount') }}';" class="btn btn-danger" type="button">Revoke Token</button>
										</form>
									</div>
									<div class="tab-pane" id="security">
										<h6>SECURITY SETTINGS</h6>
										<hr>
										<form>
											<div class="form-group">
												<label class="d-block">Change Password</label>
												<input type="text" class="form-control" placeholder="Enter your old password">
												<input type="text" class="form-control mt-1" placeholder="New password">
												<input type="text" class="form-control mt-1" placeholder="Confirm new password">
											</div>
										</form>
										<hr>
										<form>
											<div class="form-group">
												<label class="d-block">Two Factor Authentication</label>
												<button class="btn btn-info" type="button">Enable two-factor authentication</button>
												<p class="small text-muted mt-2">Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to log in.</p>
											</div>
										</form>
										<hr>
										<form>
											<div class="form-group mb-0">
												<label class="d-block">Sessions</label>
												<p class="font-size-sm text-secondary">This is a list of devices that have logged into your account. Revoke any sessions that you do not recognize.</p>
												<ul class="list-group list-group-sm">
													<li class="list-group-item has-icon">
														<div>
															<h6 class="mb-0">San Francisco City 190.24.335.55</h6>
															<small class="text-muted">Your current session seen in United States</small>
														</div>
														<button class="btn btn-light btn-sm ml-auto" type="button">More info</button>
													</li>
												</ul>
											</div>
										</form>
									</div>
									<div class="tab-pane" id="notification">
										<h6>NOTIFICATION SETTINGS</h6>
										<hr>
										<form>
											<div class="form-group">
												<label class="d-block mb-0">Security Alerts</label>
												<div class="small text-muted mb-3">Receive security alert notifications via email</div>
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
													<label class="custom-control-label" for="customCheck1">Email each time a vulnerability is found</label>
												</div>
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="customCheck2" checked="">
													<label class="custom-control-label" for="customCheck2">Email a digest summary of vulnerability</label>
												</div>
											</div>
											<div class="form-group mb-0">
												<label class="d-block">SMS Notifications</label>
												<ul class="list-group list-group-sm">
													<li class="list-group-item has-icon">
														Comments
														<div class="custom-control custom-control-nolabel custom-switch ml-auto">
															<input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
															<label class="custom-control-label" for="customSwitch1"></label>
														</div>
													</li>
													<li class="list-group-item has-icon">
														Updates From People
														<div class="custom-control custom-control-nolabel custom-switch ml-auto">
															<input type="checkbox" class="custom-control-input" id="customSwitch2">
															<label class="custom-control-label" for="customSwitch2"></label>
														</div>
													</li>
													<li class="list-group-item has-icon">
														Reminders
														<div class="custom-control custom-control-nolabel custom-switch ml-auto">
															<input type="checkbox" class="custom-control-input" id="customSwitch3" checked="">
															<label class="custom-control-label" for="customSwitch3"></label>
														</div>
													</li>
													<li class="list-group-item has-icon">
														Events
														<div class="custom-control custom-control-nolabel custom-switch ml-auto">
															<input type="checkbox" class="custom-control-input" id="customSwitch4" checked="">
															<label class="custom-control-label" for="customSwitch4"></label>
														</div>
													</li>
													<li class="list-group-item has-icon">
														Pages You Follow
														<div class="custom-control custom-control-nolabel custom-switch ml-auto">
															<input type="checkbox" class="custom-control-input" id="customSwitch5">
															<label class="custom-control-label" for="customSwitch5"></label>
														</div>
													</li>
												</ul>
											</div>
										</form>
									</div>
									<div class="tab-pane" id="billing">
										<h6>BILLING SETTINGS</h6>
										<hr>
										<form>
											<div class="form-group">
												<label class="d-block mb-0">Payment Method</label>
												<div class="small text-muted mb-3">You have not added a payment method</div>
												<button class="btn btn-info" type="button">Add Payment Method</button>
											</div>
											<div class="form-group mb-0">
												<label class="d-block">Payment History</label>
												<div class="border border-gray-500 bg-gray-200 p-3 text-center font-size-sm">You have not made any payment.</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			{% include 'footer.html' %}
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="/logout">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<script>
		$('form')
			.each(function() {
				$(this).data('serialized', $(this).serialize())
			})
			.on('change input', function() {
				$(this)
					.find('input:submit, button:submit')
					.prop('disabled', $(this).serialize() == $(this).data('serialized'));
			})
			.find('input:submit, button:submit')
			.prop('disabled', true);
	</script>

</body>

</html>