<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
			</a> -->

	<!-- Divider -->
	<!-- <hr class="sidebar-divider my-0"> -->

	<!-- Nav Item - Dashboard -->
	<li class="nav-item">
		<a class="nav-link" href="/login">
			<i class="fas fa-fw fa-sign-in-alt"></i>
			<span>Login</span></a>
	</li>

	<!-- Sidebar Toggler (Sidebar) -->
	<!-- <div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div> -->

</ul>
<script>
	if (window.innerWidth <= 576) {
		document.getElementById('accordionSidebar').classList.add('toggled');
	}
</script>
<!-- End of Sidebar -->