<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

	<!-- Sidebar Toggle (Topbar) -->
	<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
		<i class="fa fa-bars"></i>
	</button>
	<a href='/' class='hidden-link'>
		<h1 class="light-text d-none d-sm-inline-block my-2 my-md-0 mw-100">Academ<span style="color: #d9322f; font-family:times; font-style: italic;">i</span><span style="color: #268bd2; font-family:times; font-style: italic;">i</span>c</h1>
	</a>
	{% if user is defined %}
	<!-- Topbar Search -->
	<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
		<div class="input-group">
			<input type="text" style="border: 1px solid #2c2e33 !important; border-radius: 6px 0px 0px 6px;" class="form-control bg-light small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
			<div class="input-group-append">
				<button class="btn btn-primary" type="button">
					<i class="fas fa-search fa-sm"></i>
				</button>
			</div>
		</div>
	</form>
	{% endif %}

	<!-- Topbar Navbar -->
	<ul class="navbar-nav ml-auto">
		{% if user is defined %}
		<!-- Nav Item - Search Dropdown (Visible Only XS) -->
		<li class="nav-item dropdown no-arrow d-sm-none">
			<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-search fa-fw"></i>
			</a>

			<!-- Dropdown - Messages -->
			<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
				<form class="form-inline mr-auto w-100 navbar-search">
					<div class="input-group">
						<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button class="btn btn-primary" type="button">
								<i class="fas fa-search fa-sm"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</li>
		{% endif %}
		{% if user is defined %}
		{% include 'usercorner.html' %}
		{% else %}
		{% include 'loginbutton.html' %}
		{% endif %}

	</ul>

</nav>
<!-- End of Topbar -->