<!-- Nav Item - Alerts -->
<li class="nav-item dropdown no-arrow mx-1">
	<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fas fa-bell fa-fw"></i>
		<!-- Counter - Alerts -->
		<!-- <span class="badge badge-danger badge-counter">3+</span> -->
	</a>
	<!-- Dropdown - Alerts -->
	<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
		<h6 class="dropdown-header">
			Notifications
		</h6>
		{% for key, assignment in user['assignments'].items() %}
		{% if assignment['status'] <= 1 and not assignment['done'] and assignment["due"] != None %}
		<a class="dropdown-item d-flex align-items-center" href="#" onclick="location.href='{{assignment['local_link']}}'" style="cursor:pointer;">
			<div class="mr-3">
				<div class="icon-circle {% if assignment['status'] == 1 %} bg-warning {% else %} bg-danger {% endif %}">
					<i class="fas fa-file-alt text-white"></i>
				</div>
			</div>
			<div>
				<div class="small text-gray-500">Due: {{assignment["due"]}}</div>
				<span class="font-weight-bold">{{assignment['name']}} ({{assignment['class']}})</span>
			</div>
		</a>
		{% endif %}
		{% endfor %}
	</div>
</li>


<div class="topbar-divider d-none d-sm-block"></div>

<!-- Nav Item - User Information -->
<li class="nav-item dropdown no-arrow">
	<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user['name']}}</span>
		{% if user['picture'] is defined %}
		<img class="img-profile rounded-circle" src="{{user['picture']}}">
		{% else %}
		<img class="img-profile rounded-circle" src="img/undraw_profile.svg">
		{% endif %}
	</a>
	<!-- Dropdown - User Information -->
	<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
		<a class="dropdown-item" href="#">
			<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
			Profile
		</a>
		<a class="dropdown-item" href="/settings">
			<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
			Settings
		</a>
		<a class="dropdown-item" href="#">
			<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
			Activity Log
		</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
			<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
			Logout
		</a>
	</div>
</li>