<!DOCTYPE html>
<html lang="en">

<head>

	{% include 'meta.html' %}

	<title>{{assignment_details['title']}} - Academiic</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template-->
	{% if theme == 'dark' %}
	<link id="pageStyle" href="/css/sb-admin-2-dark.css" rel="stylesheet">
	{% else %}
	<link id="pageStyle" href="/css/sb-admin-2.css" rel="stylesheet">
	{% endif %}
	<link href="/css/styles.css" rel="stylesheet">
	<link href="/vendor/dropzone/dropzone.min.css" rel="stylesheet">
	{% if theme == 'dark' %}
	<style>
		.dropzone {
			background: #2B2E36 !important;
		}
	</style>
	{% endif %}

</head>

<body id="page-top">

	<div class="modal fade" id="file-upload-modal" tabindex="-1" role="dialog" aria-labelledby="file-upload-modal-title" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="file-upload-modal-long-title">Select Files for Upload</h5>
					<button type="button" class="close modal-cancel-button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/" class="dropzone" id="dropzone-form-element">
						<div class="fallback">
							<input name="file" type="file" multiple />
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary modal-cancel-button" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary">Select</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Page Wrapper -->
	<div id="wrapper">

		{% include 'sidebar.html' %}

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				{% include 'topbar.html' %}

				<!-- Begin Page Content -->
				<div class='container-fluid'>
					<div class='row' style='margin-bottom: 5rem;'>
						<div class='col-xs-3 col-lg-9'>
							<div class="jumbotron {% if assignment_details['done'] %} border-left-success {% elif assignment_details['status'] == 2 %} border-left-info {% elif assignment_details['status'] == 1 %} border-left-warning {% else %} border-left-danger {% endif %}">

								<!-- Page Heading -->

								<div class='col-12'>
									<h1 class='text-primary'>{{assignment_details["title"]}}</h1>
									<p>
										{% if 'assignedGrade' in assignment_details %}
										Grade: {{assignment_details["assignedGrade"]}}/{{assignment_details["maxPoints"]}}
										{% else %}
										Max Points: {{assignment_details["maxPoints"]}}
										{% endif %}
										&bull; Due: {{assignment_details["due"]}}
									</p>
								</div>
								<div class="col-xs-12 col-lg-6">
									<hr style="margin-left: 0px; width: 100%;">
								</div>
								<div class='col-xs-12 col-lg-4'>
									{% for material in materials %}

									<a href='{{material.url}}' class='text-decoration-none'>
										<div class="border-tertiary border rounded bg-tertiary" style="padding: 0.5rem;">
											<div class='d-flex'>
												<img src="{{material.thumbnail}}" style="width: 2.5rem;height: 2.5rem;object-fit: cover;" class="rounded">
												<p class='text-tertiary' style='margin-left: 0.5rem;'>{{material.title|truncate(30, True)}}</p>
											</div>
										</div>
									</a>
									<div style='margin-bottom: 1rem;'></div>

									{% endfor %}
								</div>
								<div class="col-12">
									<p>{{assignment_details["description"]}}</p>
								</div>
							</div>
						</div>

						<div class='col-xs-1 col-lg-3'>
							<div class='card' style='padding: 2rem;'>
								<h5 class='text-primary'>Attached Work</h5>
								<hr style="margin-top: 0px;">
								{% for attachment in attachments %}

								<a href='{{attachment.url}}' class='text-decoration-none'>
									<div class="border-tertiary border rounded bg-tertiary" style="padding: 0.5rem;">
										<div class='d-flex'>
											<img src="{{attachment.thumbnail}}" style="width: 2.5rem;height: 2.5rem;object-fit: cover;" class="rounded">
											<p class='text-tertiary' style='margin-left: 0.5rem;'>{{attachment.title|truncate(30, True)}}</p>
											<button type="button" class="close assignment-delete-button ml-auto" aria-label="Remove">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
									</div>
								</a>
								<div style='margin-bottom: 1rem;'></div>

								{% endfor %}
								<div class="dropdown">
									<button class="btn btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='margin-bottom: 15px; width: 100%;'><span style="margin-right: 5px;" class="fa fa-plus" aria-hidden="true"></span>Add Work</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style='width: 100%'>
										<a class="dropdown-item" data-toggle="modal" data-target="#file-upload-modal"><span style="margin-right: 5px;" class="fab fa-google-drive" aria-hidden="true"></span>Google Drive</a>
										<a class="dropdown-item" data-toggle="modal" data-target="#file-upload-modal"><span style="margin-right: 5px;" class="fas fa-link" aria-hidden="true"></span>Link</a>
										<a class="dropdown-item" data-toggle="modal" data-target="#file-upload-modal"><span style="margin-right: 5px;" class="fas fa-paperclip" aria-hidden="true"></span>File</a>
									</div>
								</div>
								<button class="btn btn-outline-success" type="button"><span style="margin-right: 5px;" class="fa fa-check" aria-hidden="true"></span>Submit</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			{% include 'footer.html' %}
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="/logout">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/dropzone/dropzone.min.js"></script>

	<script>
		$(document).on('click', '.assignment-delete-button', function(e) {
			e.preventDefault();
			var parent = $(this).closest('.text-decoration-none');
			$(parent).next().remove();
			$(parent).remove();
			// TODO: actually delete file
		});

		var dropzone = new Dropzone('#dropzone-form-element', {
			autoProcessQueue: false,
			addRemoveLinks: true
		});

		$('.modal-cancel-button').on('click', function(event){
			dropzone.removeAllFiles();
		});
	</script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

</body>

</html>